h2{
    
    text-align: center;
    text-decoration: underline;
}

.pagination{
      position: fixed;   
      top: 250px;
}
.parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.output{
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    color: blue;
    font-size: larger;
    font-weight: bolder;
}